<!DOCTYPE html>
<html ng-app="OSS">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>OpenSlideshare</title>
  <script src="./assets/js/jquery-1.10.2.min.js"></script>
  <script type="application/javascript">
    if (typeof module === 'object' && typeof module.exports !== 'undefined') {
        window.$ = window.jQuery = window.$1102 = module.exports;
    }
  </script>
  <script src="./assets/js/jquery-ui.js"></script>
  <script src="./assets/js/jquery.lazyload.js"></script>
  <script src="./assets/js/jquery.bxslider.js"></script>
  <script src="./assets/js/bootstrap.min.js"></script>
  <script src="./assets/js/angular.min.js"></script>
  <script src="./assets/js/angular-sanitize.min.js"></script>
  <script src="./app/SlidesController.js"></script>
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/css/app.css">
</head>
<body ng-controller="SlidesController">
<div class="container">
<div class="row">
  <div class="col-sm-3" id="left_navi">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="slide in slides.slides"><a ng-click="displaySlide(slide.Slide.id)"><span ng-bind="slide.Slide.name"></span></a></li>
    </ul>
  </div>
  <div class="col-sm-9" id="right_area">
    <ng-include src="slide_body"></ng-include>
  </div>
</div>
</body>
</html>
