<!DOCTYPE html>
<html ng-app="OSS">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>OpenSlideshare</title>
  <script src="./assets/js/jquery-1.10.2.min.js"></script>
  <script type="application/javascript">
    if (typeof module === 'object' && typeof module.exports !== 'undefined') {
        window.$ = window.jQuery = window.$1102 = module.exports;
    }
  </script>
  <script src="./assets/js/jquery-ui.js"></script>
  <script src="./assets/js/jquery.lazyload.js"></script>
  <script src="./assets/js/jquery.bxslider.js"></script>
  <script src="./assets/js/bootstrap.min.js"></script>
  <script src="./assets/js/angular.min.js"></script>
  <script src="./assets/js/angular-sanitize.min.js"></script>
  <script src="./app/SlidesController.js"></script>
  <link rel="stylesheet" href="./assets/css/theme.css">
  <link rel="stylesheet" href="./assets/css/app.css">
  <style>
@font-face {
    font-family: 'mplus';
    src: url('./assets/fonts/mplus-1p-regular.ttf') format('truetype');
}
  </style>
</head>
<body ng-controller="SlidesController">
<div class="container">
<div class="row">
  <div class="col-sm-3" id="left_navi">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="slide in slides.slides"><a ng-click="displaySlide(slide.Slide.id)"><span ng-bind="slide.Slide.name"></span></a></li>
    </ul>
  </div>
  <div class="col-sm-9" id="right_area">
    <!-- Tab -->
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#menu1" data-toggle="tab">Slide</a></li>
        <li><a href="#menu2" data-toggle="tab">Transcript</a></li>
        <li><a href="#menu3" data-toggle="tab">Other</a></li>
    </ul>
    <!-- Body -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="menu1">
            <ng-include src="slide_body"></ng-include>
        </div>
        <div class="tab-pane fade" id="menu2">
            <ng-include src="slide_transcript"></ng-include>
        </div>
        <div class="tab-pane fade" id="menu3">other</div>
    </div>
  </div>
</div>
</body>
</html>
