html, body, .container, .row {
    height: 100% !important;
    width:100%;
    margin:0px;
    padding:0px;
}

div.container {
    margin:0px;
    padding:0px;
}

div.row {
    width:100%;
    margin:0px;
    padding:0px;
}

div#left_navi {
    height:100%;
    min-height:100%;
    overflow:scroll;
    margin:0px;
    padding:0px;
    font-size:0.8em;
    background-color: #333;
}

div#left_navi ul li {
    background-color: #333;
    color: #ddd;
    border: 1px solid #222;
}

div#left_navi ul li a {
    background-color: #333;
    color: #ddd;
}

div#right_area {
    margin:0px;
    padding:8px;
    height:100%;
    /** background-color:#fff; **/
    color:#333;
}

iframe#slide_frame {
    width:100%;
    border:0px;
    margin:0px;
    margin-bottom:-20px;
    padding:0px;
    vertical-align:bottom;
}

div#description {
    border:1px solid #ccc;
    background-color:#eee;
    padding:0.8em;
    margin-top:0.8em;
    color: #333;
    margin-bottom:0.8em;
}
